.git
.gitignore
.env
.env.*
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
.docker
docker-compose*
tests
.phpunit*
*.test
.dockerignore